<div class="container">
  <div class="row">
    <div class="col-lg-4">
     <div class="card">
      <div class="card-body">
        <form>
          <div class="form-group">
            <label >Full Name</label>
            <input type="name" class="form-control" id="name"  placeholder="Enter Your Name" name="name"
            [(ngModel)]="name">
          </div><br> 
          <div class="form-group">
            <label >Email address</label>
            <input type="email" class="form-control" id="email"  placeholder="Enter Your Email" name="email"
            [(ngModel)]="email">
          </div><br>
          <div class="form-group">
            <label >Number</label>
            <input type="number" class="form-control" id="number" placeholder="Enter Your Number" name="number"
            [(ngModel)]="number">
          </div>
        <br>
          <button type="submit" class="btn btn-primary" (click)="onSubmit()" 
          *ngIf="!isEdit">Submit</button>
          <button type="update" class="btn btn-success" (click)="onUpdate()"
          *ngIf="isEdit">Update</button>
        </form>
      </div>
     </div>
    </div>
    <div class="col-lg-8">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Number</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of userData; let i = index">
            <td>{{data.name}}</td>
            <td>{{data.email}}</td>
            <td>{{data.number}}</td>
            <td>
              <button class="btn btn-warning" (click)="edit(i)">Edit</button> &nbsp;&nbsp;
              <button class="btn btn-danger" (click)="delete(i)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
